@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --color-dark-purple: hsl(271, 68%, 32%);
  --color-dark: hsl(196, 74%, 29%);
  --color-semi-dark: hsl(190, 64%, 34%);
  --color-light-blue: hsl(226, 40%, 85%);
  --color-light-purple: hsl(226, 40%, 92%);
  --color-white: rgb(243, 243, 243);
  --color-semi-grey: hsl(190, 24%, 80%);
  --color-purple-opacity: hsla(226, 40%, 92%, 0.75);
}
* {
  font-family: "Arima", cursive;
  /* font-family: "Courgette", cursive; */
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}
body {
  color: var(--color-semi-dark);
  background-color: var(--color-light-purple);
}
.page-title {
  font-family: "Courgette", cursive;
  padding: 1rem 2rem;
}
.container {
  padding: 0 2rem;
}
.ul-el {
  padding-left: 0;
}
.li-el {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-semi-grey);
  list-style: none;
}
.li-el a {
  text-decoration: none;
  color: var(--color-dark);
}
.li-el a:hover {
  font-size: 1.2rem;
  color: var(--color-dark);
}
.li-el a:active {
  color: var(--color-semi-dark);
}

.post-item {
  background-color: var(--color-light-purple);
  color: var(--color-dark);
  padding: 1rem 2rem 4.4rem;
  border-bottom: 1px solid var(--color-semi-grey);
}
.title {
  font-family: "Courgette", cursive;
  margin: 1rem 0;
}
.post-item a,
.link {
  text-decoration: none;
  border-bottom: 1px solid var(--color-semi-dark);
  color: var(--color-semi-dark);
}

.comments-wrapper {
  /* background-color: var(--color-white); */
  color: var(--color-semi-dark);
}

.comment-item {
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: 0 6px 10px 2px var(--color-purple-opacity);
  border-bottom: 1px solid var(--color-light-purple);
}

.btn-show-comment {
  padding: 0.6rem 1rem;
  background-color: var(--color-semi-dark);
  color: var(--color-light-purple);
  border-style: none;
  box-shadow: 0 6px 10px 2px var(--color-purple-opacity);
  float: right;
}

/* header */
.header {
  padding: 1rem 2rem 0.5rem;
  background-color: var(--color-light-blue);
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.header a {
  padding: 0 2rem;
  text-decoration: none;
  color: var(--color-semi-dark);
}
.header a:hover {
  font-size: 1.2rem;
  color: var(--color-dark);
}
.header a:active {
  color: var(--color-semi-dark);
}
.current-page {
  font-size: 1.3rem;
}
.search-btn {
  border-style: none;
  background-color: var(--color-semi-dark);
  color: var(--color-light-purple);
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
  box-shadow: -6px 1px 12px 3px var(--color-light-blue);
  margin-left: -0.3rem;
}
.search-input {
  background-color: var(--color-light-purple);
  border-style: none;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  margin-left: 2rem;
}
.search-input:focus-visible {
  outline: none;
}

#search-form-page {
  margin-bottom: 1.2rem;
}

#search-container {
  margin: 2rem 0;
}
#search-container .search-input {
  border: 1px solid var(--color-light-blue);
  box-sizing: border-box;
}

#user-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 2rem;
}

#map {
  width: 40%;
  /* border: 1px solid var(--color-semi-grey); */
  object-fit: contain;
}

#user-info {
  /* border: 1px solid var(--color-semi-grey); */
  width: 50%;
}
#user-info ul {
  padding-left: 0;
}

#user-info li {
  list-style: none;
}

/* post */
.other-posts {
  float: right;
}
.post-body {
  padding: 1.3rem 0;
}

#albums-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.album-item {
  /* border: 1px solid pink; */
  width: 13rem;
  text-align: center;
  padding: 1rem;
}

/* album swiper */
/* .swiper {
  width: 600px;
  height: 300px;
}
.color {
  color: var(--color-light-blue);
  fill: var(--color-light-blue);
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--color-light-blue);
} */

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  height: 100px;
  width: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide:hover {
  background: pink;
}
/* .swiper-wrapper .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
} */
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--color-semi-dark)) !important;
}
